/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
    height: inherit;
}

body {
    background: white;
}

main {
    min-height: calc(100vh - 200px);
}

footer {
    height: 50px;
}

h1, .h1 {
    font-size: 2rem;
}

pre {
    background: #eee;
    padding: 1.2rem;
    border-radius: 0.25rem;
    color: #c22484;
    white-space: pre-wrap;
}

code::before {
    content: "$ "
}

nav .container-form-lg {
    padding-bottom: 0;
    padding-top: 1.5rem;
}

.navbar {
    padding: 0;
}

.gh-btn-list span:not(:first-child) {
    margin-left: 10px;
}

.toggle-switch {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

#copy-cmd {
    background: #eee;
    color: #333;
    position: absolute;
    right: 2rem;
}

#code-container {
    margin-top: 2rem;
}

#code-container pre {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

#code-container span.nav-link {
    cursor: pointer;
}

body.dark {
    background: #293544;
    color: #eee;
}

.dark .btn.btn-primary {
    background-color: rgb(57, 117, 207);
}

.dark #copy-cmd {
    background: #19202a;
    color: #eee;
}

.dark #code-container .nav-link.active {
    color: #eee;
}

.dark #code-container .nav-link {
    color: #aaa;
}

.dark label {
    color: #eee;
}

.dark a {
    color: white;
}

.dark .toggle-switch-check:checked ~ .toggle-switch-bar::before {
    background-color: #455a74;
    border-color: #455a74;
}

.dark .toggle-switch-check:checked ~ .toggle-switch-bar::after {
    background-color: rgb(57, 117, 207);
    border-color: rgb(57, 117, 207);
}

.dark .fa.fa-moon-o {
    color: #eee;
}

.dark select.form-control,
.dark input.form-control {
    background-color: #455a74;
    border-color: #455a74;
    color: #eee;
}

.dark .form-group.has-error input.form-control {
    background-color: #934040;
    border-color: #f48989;
    box-shadow: 0 0 rgba(0, 0, 0, 0);
    color: #eee;
}

.dark .has-error .form-feedback-item {
    color: #fb7f7f;
}

.dark pre {
    background: #19202a;
    color: #ff25a9;
}